page-home {
 .content-md{
     //background-image:url(../../assets/imgs/bg.jpg);
     background-size: 100%;
 }

 .list-md .item-block .item-inner{
     border:none;
 }
 .note-date{
     color:grey;
     font-size:12px;
 }
}
